.carrossel__titulo {
    color: var(--cor-preta);
    background-color: var(--cor-bege);
    font-family: "Montserrat", serif;
    text-align: center;
    font-size: 29px;
    font-weight: 300;
    padding: 0.5em 0 0.5em 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.carrossel {
    max-width: auto; /* Ajuste conforme necessário */
    margin: 0 auto;
    padding: 0 0;
    overflow: hidden; /* Impede que o conteúdo ultrapasse os limites */
}

.swiper {
    border-radius: 8%;
    width: 100%;
    max-width: 100%; /* Garante que o carrossel não ultrapasse o contêiner */
    margin: 0 auto;
    padding: 0; /* Remove o padding interno */
    box-shadow: none; /* Remove a sombra do contêiner do Swiper */
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    transition: transform 0.3s; /* Efeito de transição suave */
    padding: 2%;
    box-shadow: none;
}

.swiper-slide img {
    width: 130%;
    height: auto;
    border-radius: 16px;
    object-fit: cover; /* Mantém a imagem proporcional, cobrindo o espaço do card */
}


.swiper-slide-active {
    transform: scale(1);  /* Efeito de zoom no card ativo */
}

.swiper-wrapper {
    display: flex;
    transition-timing-function: linear !important; /* Rolagem suave */
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

.swiper-pagination, .swiper-button-prev, .swiper-button-next {
    display: none;
}

.card {
    background: var(--degrade1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    margin: 1.5em auto;
    padding: 2em;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 50%;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.5);
}

/* Layout interno do card */
.card__descricao {
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
    flex-wrap: wrap;
}

.descricao__conteudo {
    flex: 1;
    min-width: 300px;
}

/* Títulos e textos */
.descricao__titulo {
    color: var(--cor-preta);
    font-size: 15px;
    margin-bottom: 0.5em;
    font-weight: 400;
}

.descricao__titulo-livro {
    color: #333;
    font-size: 32px;
    margin: 0.3em 0;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.descricao__texto {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}

/* Imagem do livro */
.descricao__imagem {
    width: 100%;
    max-width: 180px;
    border-radius: 12px;
    margin: 1em 0;
    transition: transform 0.3s;
}

.descricao__imagem:hover {
    transform: scale(1.05);
}

.coluna__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 11% 0 11%;
}

/* Botões */
.card__botoes {
    margin-top: auto;
    display: flex;
    padding: 0 20% 0 0;
    gap: 1em;
}

.botoes {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 0.5em;
}

.botoes__item img {
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: transform 0.2s;
}

.botoes__item img:hover {
    transform: scale(1.2);
}

/* Botão Saiba Mais */
.botoes__ancora {
    display: inline-block;
    padding: 10px 20px;
    background-color: #584e3765;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.5); /* Sombra */
    font-weight: 300;
    transition: background-color 1s;
    margin-top: 1em;
    position: relative; /* Para posicionar o pseudo-elemento */
    overflow: hidden; /* Esconde o que ultrapassar o item */
    background: transparent; /* Fundo transparente */
    transition: transform 0.3s ease; /* Transição para o scale */
}

.botoes__ancora::before {
    content: '';
    position: absolute;
    top: 0;
    left: -110%; /* Começa fora do item, à esquerda */
    width: 100%; /* Ocupa 100% da largura */
    height: 100%; /* Ocupa 100% da altura */
    background: var(--degrade3); /* Gradiente */
    transition: left 1s ease; /* Anima a propriedade left */
    z-index: -1; /* Fica atrás do conteúdo */
}

.botoes__ancora:hover {
    transform: scale(1.02); /* Aumenta o tamanho do item */
    color: var(--cor-branco)
}

.botoes__ancora:hover::before {
    left: 0; /* Move o pseudo-elemento para a direita */
}

.botoes__ancora::before {
    transition:  0.3s ease; /* Transição suave para a posição */
}
