@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url("carrossel.css");
@import url("topicos.css");
@import url("contatos.css");
@import url("rodape.css");

:root {
    --cor-branco: #ffffff;
    --cor-fundo: #d4d4d4;
    --cor-preta: #000000;
    --cor-bege: #fffae9;
    --cor-paleta-1: #d8ccb2;
    --cor-paleta-2: #ccbd9e;
    --cor-paleta-3: #495168;
    --cor-paleta-4: #1a4141;
    --cor-paleta-5: #82a374;
    --degrade1: radial-gradient(circle at 70% 50%, #ccbd9e, #fffae9);
    --degrade2: radial-gradient(circle at 70% 50%, #d4d4d4, #fffae9);
    --degrade3: radial-gradient(circle at 70% 50%, #82a374, #1a4141);
    --degrade4: radial-gradient(circle at 100% 35%, #bdf1bd, #fff2c5);
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5vw;
    background: var(--degrade3);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.cabecalho {
    background-color: var(--cor-bege);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.cabecalho__menu {
    width: 30px;
    height: 30px;
    background: url(../assets/menu.png) center / contain no-repeat;
    display: inline-block;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20vh;
    padding-left: 2%;
}

.container2 {
    display: flex;
    align-items: center;
    gap: 10vh;
    padding-left: 2%;
}

.container,
.container2 {
    display: flex;
    align-items: center;
    padding-left: 2%;
}

.container2 img {
    max-width: 5vh;
    height: auto;
}

.container img,
.cabecalho__imagens img {
    max-width: 10vh;
    height: auto;
}

.cabecalho__imagens {
    display: flex;
    align-items: center;
    gap: 1%;
}

.container__imagens:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.lista__menu {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 10vw;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    margin: 0;
    padding: 0;
}

.container__botao:checked ~ .lista__menu {
    visibility: visible;
    opacity: 1;
}

.lista__menu__titulo,
.lista__menu__item {
    padding: 1em;
    background-color: var(--cor-bege);
    font-family: "Montserrat", sans-serif;
    margin: 0;
    font-size: 1vw;
}

.lista__menu__titulo {
    font-weight: bold;
    color: var(--cor-paleta-4);
}

.lista__menu__item,
.lista__menu__link {
    color: var(--cor-preta);
    text-decoration: none;
}

.container__botao {
    display: none;
}

.banner {
    background: var(--degrade1);
    font-family: "Montserrat", sans-serif;
    color: var(--cor-paleta-5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 5% 0 5% 0;
}

.banner__titulo,
.banner__texto {
    color: var(--cor-paleta-3);
    text-align: center;
    padding: 0 0 2% 0;
}

.banner__titulo {
    font-family: "Playfair Display", serif;
    font-size: 2em;
    color: var(--cor-preta);
}

.banner__texto {
    font-size: 1em;
    color: var(--cor-preta);
}

.banner__pesquisa-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 30%;
}

.banner__pesquisa {
    background: transparent;
    color: var(--cor-preta);
    border: 1px solid var(--cor-branco);
    border-radius: 24px;
    padding: 1em 2.5em 1em 1em;
    width: 100%;
}

.banner__pesquisa::placeholder {
    font-family: "Montserrat", sans-serif;
    color: var(--cor-branco);
    font-size: 1.5vh;
    font-weight: 400;
    text-align: center;
}

.banner__pesquisa-lupa {
    position: absolute;
    right: 1em;
    width: 2vh;
}

@media (max-width: 1200px){
    .container__titulo, .container__titulo--negrito {
        font-size: 3em;
    }
    .container__titulo {
        font-weight: 400;
    }
    .container__titulo--negrito {
        font-weight: 600;
    }
}

@media (max-width: 800px) {
    body {
        font-size: 1em;
    }

    .cabecalho {
        padding: 2%;
    }

    .cabecalho__menu {
        width: 3vh;
        height: 2vh;
    }

    .container {
        gap: 15vh;
        padding-left: 0;
    }

    .container2 {
        gap: 2vh;
        padding-left: 0;
    }

    .container2 img {
        max-width: 3vh;
        gap: 2vh;
        padding-left: 0;
    }

    .container img,
    .cabecalho__imagens img {
        max-width: 6vh; /* Reduzindo o tamanho das imagens */
    }

    .cabecalho__imagens {
        gap: 2%;
        flex-direction: row; /* Garantindo que as imagens fiquem na horizontal */
    }

    .lista__menu {
        width: 50vw;
    }

    .lista__menu__titulo,
    .lista__menu__item {
        font-size: 2vw;
    }

    .banner {
        padding: 10% 0;
        
    }

    .banner__titulo {
        font-size: 1.5em;
    }

    .banner__texto {
        font-size: 0.9em;
    }

    .banner__pesquisa-container {
        width: 80%;
    }

    .banner__pesquisa {
        padding: 0.5em 2em 0.5em 0.5em;
    }

    .banner__pesquisa-lupa {
        width: 15px;
        height: 15px;
    }
}
